<template>
<div class="logo-background"></div>
  <navigate />
  <div class="aboutMatch">
    <div class="aboutMatch-header">
      <div class="aboutMatch-header__block">
        <div>
          <h2>ДЕТАЛЬНАЯ ИНФОРМАЦИЯ МАТЧА</h2>
        </div>
        <div class="aboutMatch-result">
          <div class="result__left">
            <p>
              <img src="../img/Win.svg" /><span>Победа: {{ match.radiant_win ? "Radian" : "Dire" }}</span>
            </p>
          </div>
          <div class="result__middle">
            <h3>{{ match.radiant_score }}</h3>
            <div class="middle__block">
              <h3>All draft</h3>
              <p>{{ secondMinute(match.duration) }}</p>
              <p>Закончился 23 часа назад</p>
            </div>
            <h3>{{ match.dire_score }}</h3>
          </div>
          <div class="result__right">
            <div class="right__block">
              <h4>ID матча</h4>
              <p>{{ match.match_id }}</p>
            </div>
            <div class="right__block">
              <h4>Регион</h4>
              <p>Singapore</p>
            </div>
            <div class="right__block">
              <h4>Навык</h4>
              <p>Unknown</p>
            </div>
          </div>
        </div>
      </div>
      <div class="aboutMatch-header__warning">
        <h3><img src="../img/warning.svg"/>Запись этого матча не может быть проанализирована, так как недоступна вся информация о матче</h3>
      </div>
      <div class="aboutMatch-header__buttons">
        <button class="aboutMatch__btn"><img src="../img/Button-icon1.svg"/>Анализ</button>
        <button class="aboutMatch__btn"><img src="../img/Button-icon2.svg"/>Загрузить запись</button>
      </div>
    </div>
    <div class="aboutMatch-main">
        <table class="table1__head">
            <thead>
                <tr>
                    <th><span>Radiant</span>
                    <span>статистика команд</span>
                    <span v-if="match.radiant_win">Победители</span>
                    <span v-else>Проигравшие</span></th>
                </tr>
            </thead> 
        </table>
        <table v-if="JSON.stringify(match) !== '{}'" cellspacing="0" cellpadding="0" class="aboutMatch-main__table1">
            <tbody>
                <tr>
                    <th>ИГРОК</th>
                    <th>LVL</th>
                    <th>K</th>
                    <th>D</th>
                    <th>A</th>
                    <th>LH/DN</th>
                    <th>NET</th>
                    <th>GPM/XPM</th>
                    <th>HD</th>
                    <th>TD</th>
                    <th>HH</th>
                    <th>ПРЕДМЕТЫ/БАФЫ</th>
                </tr>
                <tr v-for="index in [0,1,2,3,4]" :key="index" :class="{even: index % 2 == 0}">
                    <th><img src="../img/Heroes.png" alt=""><p><span>Long user name</span><span>Unknown</span></p></th>
                    <th>{{match.players[index].level}}</th>
                    <th>{{match.players[index].kills}}</th>
                    <th>{{match.players[index].deaths}}</th>
                    <th>{{match.players[index].assists}}</th>
                    <th>{{match.players[index].last_hits}}/{{match.players[index].denies}}</th>
                    <th>{{match.players[index].net_worth ? match.players[index].net_worth : '0'}}</th>
                    <th>{{match.players[index].gold_per_min}}/{{match.players[index].xp_per_min}}</th>
                    <th>{{match.players[index].hero_damage ? match.players[index].hero_damage : '0'}}</th>
                    <th>{{match.players[index].tower_damage ? match.players[index].tower_damage : '0'}}</th>
                    <th>{{match.players[index].hero_healing ? match.players[index].hero_healing : '0'}}</th>
                    <th>
                        <div class="match__items">
                            <div class="match__container"></div>
                            <div class="match__container"></div>
                            <div class="match__container"></div>
                            <div class="match__container"></div>
                            <div class="match__container"></div>
                            <div class="match__container"></div>
                        </div>
                        <div class="match__backpacks">
                            <div><img src="../img/backpack.svg" alt="icon-backpack"></div>
                            <div class="match__backpack"></div>
                            <div class="match__backpack"></div>
                            <div class="match__backpack"></div>
                        </div>
                        <div class="match__buffs">
                            <div class="circle__item"></div>
                            <div><img src="../img/Shard.png" /></div>
                            <div class="buff__item"><img src="../img/Buffs.png" /></div>
                        </div>
                    </th>
                </tr>
            </tbody>
        </table>
        <table class="table2__head">
            <thead>
                <tr>
                    <th><span>Dire</span>
                    <span>статистика команд</span>
                    <span v-if="match.radiant_win">Проигравшие</span>
                    <span v-else>Победители</span>
                </th>
                </tr>
            </thead> 
        </table>
        <table v-if="JSON.stringify(match) !== '{}'" cellspacing="0" cellpadding="0" class="aboutMatch-main__table2">
            <tbody>
                <tr>
                    <th>ИГРОК</th>
                    <th>LVL</th>
                    <th>K</th>
                    <th>D</th>
                    <th>A</th>
                    <th>LH/DN</th>
                    <th>NET</th>
                    <th>GPM/XPM</th>
                    <th>HD</th>
                    <th>TD</th>
                    <th>HH</th>
                    <th>ПРЕДМЕТЫ/БАФЫ</th>
                </tr>
                <tr v-for="index in [5,6,7,8,9]" :key="index" :class="{even: index % 2 !== 0}">
                    <th><img src="../img/Heroes.png" alt=""><p><span>Long user name</span><span>Unknown</span></p></th>
                    <th>{{match.players[index].level}}</th>
                    <th>{{match.players[index].kills}}</th>
                    <th>{{match.players[index].deaths}}</th>
                    <th>{{match.players[index].assists}}</th>
                    <th>{{match.players[index].last_hits}}/{{match.players[index].denies}}</th>
                    <th>{{match.players[index].net_worth ? match.players[index].net_worth : '0'}}</th>
                    <th>{{match.players[index].gold_per_min}}/{{match.players[index].xp_per_min}}</th>
                    <th>{{match.players[index].hero_damage ? match.players[index].hero_damage : '0'}}</th>
                    <th>{{match.players[index].tower_damage ? match.players[index].tower_damage : '0'}}</th>
                    <th>{{match.players[index].hero_healing ? match.players[index].hero_healing : '0'}}</th>
                    <th>
                        <div class="match__items">
                            <div class="match__container"></div>
                            <div class="match__container"></div>
                            <div class="match__container"></div>
                            <div class="match__container"></div>
                            <div class="match__container"></div>
                            <div class="match__container"></div>
                        </div>
                        <div class="match__backpacks">
                            <div><img src="../img/backpack.svg" alt="icon-backpack"></div>
                            <div class="match__backpack"></div>
                            <div class="match__backpack"></div>
                            <div class="match__backpack"></div>
                        </div>
                        <div class="match__buffs">
                            <div class="circle__item"></div>
                            <div><img src="../img/Shard.png" /></div>
                            <div class="buff__item"><img src="../img/Buffs.png" /></div>
                        </div>
                    </th>
                </tr>
            </tbody>
        </table>
        <pageFooter />
    </div>
  </div>
</template>
<script>
import navigate from '../components/navigate.vue'
import pageFooter from '../components/footer.vue'
export default {
  props: ["id"],
  data() {
    return {
      match: {},
    };
  },
  async created() {
    const data = await fetch(
      `https://api.opendota.com/api/matches/${this.id}`
    ).then((response) => {
      return response.json();
    });
    this.match = data;
  },
  methods: {
    secondMinute(second) {
      let minute = Math.floor(second / 60);
      let sec = second - minute * 60;
      let timeMatch = minute + ":" + sec;
      return timeMatch;
    },
  },
  components:{
    pageFooter,
    navigate
  }
};
</script>
