<template>
    <div class="about">
      <h1>listCommands</h1>
    </div>
</template>
<script>
export default{
  data(){
    return{
      commands:{}
    }
  },
  async created(){
    const data = await fetch(
      `https://api.opendota.com/api/proMatches`
    ).then((response) => {
      return response.json();
    });
    this.commands = data;
    console.log(this.commands)
  }
}
</script>