<template>
  <div class="listMatches">
    <div class="logo-background"></div>
    <navigate />
    <div class="listMatches__table">
      <h2>Список Матчей</h2>
      <table cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th>ID</th>
            <th>Длительность</th>
            <th>Radiant</th>
            <th>Dire</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(match, index) in matchesPlayers"
            :key="index"
            :class="{ even: index % 2 == 0 }"
          >
            <th>
              <p class="idMatch" @click="aboutMatch(match.match_id)">
                {{ match.match_id }}
              </p>
              <p>17 часов назад</p>
            </th>
            <th>{{ secondMinute(match.duration) }}</th>
            <th>
              <img src="../img/Heroes.png" />
              <img src="../img/Heroes.png" />
              <img src="../img/Heroes.png" />
              <img src="../img/Heroes.png" />
              <img src="../img/Heroes.png" />
            </th>
            <th>
              <img src="../img/Heroes.png" />
              <img src="../img/Heroes.png" />
              <img src="../img/Heroes.png" />
              <img src="../img/Heroes.png" />
              <img src="../img/Heroes.png" />
            </th>
          </tr>
        </tbody>
      </table>
      <button class="listMatches__button">Загрузить еще</button>
      <pageFooter />
    </div>
  </div>
</template>
<script>
import navigate from '../components/navigate.vue'
import pageFooter from "../components/footer.vue";
export default {
  data() {
    return {
      oddEven: false,
      data: null,
      idMatches: {},
      matchesPlayers: {},
    };
  },
  async created() {
    const api = await fetch(`https://api.opendota.com/api/playersByRank`).then(
      (response) => {
        return response.json();
      }
    );
    for (let i = 0; i < 10; i++) {
      const playerMatches = await fetch(
        `https://api.opendota.com/api/players/${api[i].account_id}/matches`
      ).then((response) => {
        return response.json();
      });
      this.idMatches[i] = playerMatches[0];
    }
    for (let i = 0; i < 10; i++) {
      const match = await fetch(
        `https://api.opendota.com/api/matches/${this.idMatches[i].match_id}`
      ).then((response) => {
        return response.json();
      });
      this.matchesPlayers[i] = match;
    }
  },
  methods: {
    secondMinute(second) {
      let minute = Math.floor(second / 60);
      let sec = second - minute * 60;
      let timeMatch = minute + ":" + sec;
      return timeMatch;
    },
    secondData(second) {
      let data = new Date(4432840267);
    },
    aboutMatch(id) {
      this.$router.push(`/aboutNatch/${id}`);
    },
  },
  action: {
    async searchMatchId() {
      for (let i = 0; i < 10; i++) {
        matchPlayer[i] = this.data[i];
      }
    },
  },
  components: {
    pageFooter,
    navigate
  },
};
</script>
