<template>
    <div class="footer">
    <div class="footer__logo">
      <p>2022© OpenDota</p>
    </div>
    <div class="footer__nav">
      <nav>
        <ul>
          <li><a href="#">О нас</a></li>
          <li><a href="#">Политика конфидициальности</a></li>
          <li><a href="#">Документация API</a></li>
        </ul>
      </nav>
    </div>
  </div>
</template>