<template>
  <div v-if="isVisible" class="modal-mask">
    <div class="modal">
      <div class="modal-block">
        <div class="modal-title">
          <h2>авторизация</h2>
          <a @click="closeModal"><img src="../img/Cross.svg" /></a>
        </div>
        <div class="modal-body">
          <div class="modal-body__login">
            <h4>Логин/E-mail</h4>
            <input type="text" />
          </div>
          <div class="modal-body__password">
            <h4>Пароль</h4>
            <input type="text" />
          </div>
          <button>Войти</button>
        </div>
        <div class="modal-footer">
          <p>Нет учетной записи ?<a href="#" @click="openModalReg">Регистрация ></a></p>
          <p>Забыли пароль ?<a href="#">Восстановить пароль ></a></p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["isVisible"],
  data(){
    return{
    
    }
  },
  methods:{
    closeModal(){
      console.log("lol")
      this.$emit('closeModal', false)
    },
    openModalReg(){
      this.closeModal();
      this.$emit('openModalReg', true)
    }
  }
};
</script>

<style lang="scss" scoped>

</style>
