<template>
  <div v-if="isVisibleReg" class="modal-mask">
    <div class="modal-register">
      <div class="modal-block">
        <div class="modal-title">
          <h2>Регистрация</h2>
          <a @click="closeModalReg"><img src="../img/Cross.svg" /></a>
        </div>
        <div class="modal-body">
          <div class="modal-body__block">
            <div class="block__item">
              <h4>E-mail</h4>
              <input type="text" />
            </div>
            <div class="block__item">
              <h4>Пароль</h4>
              <input type="text" />
            </div>
          </div>
          <div class="modal-body__block">
            <div class="block__item">
              <h4>Логин</h4>
              <input type="text" />
            </div>
            <div class="block__item">
              <h4>Повторите пароль</h4>
              <input type="text" />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <input type="checkbox" class="modal-footer__checkbox" id="confirm"><label for="confirm">Согласен с политикой конфидициальности</label>
          <button>Регистрация</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["isVisibleReg"],
  methods:{
    closeModalReg(){
      this.$emit('closeModalReg', false)
    }
  }
};
</script>

<style lang="scss" scoped>
.modal-body {
  display: flex;
  justify-content: space-between;
}
.modal-block {
  width: 614px;
  margin: 0 auto;
}
.modal-body__block{
  margin-top:36px;
  max-width: 297px;
  .block__item{
    h4{
      margin:0;
    }
    input {
      width: 256px;
      padding: 5px 10px;
      border: none;
      border-bottom: 2px solid #e0e0e0;
    }
  }
  .block__item:nth-child(2n){
    margin-top:16px;
  }
}
.modal-footer{
  display:flex;
  flex-direction: column;
  margin-top:36px;
  button{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #808080;
    background: #404040;
    margin:42px auto 0;
    padding:15.5px 40px;
    width:183px;
  }
  label{
    width:343px;
    margin:0 auto;
    padding-top:7px;
  }
  input[type="checkbox"]{
    position:absolute;
    z-index:-1;
  }
  input[type="checkbox"]+label{
    display: inline-block;
    position: relative;
    padding-left: 42px;
    line-height: 20px;
    cursor: pointer;
  }
  input[type="checkbox"]+label::before{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 30px;
    height: 30px;
    border: 2px solid #E0E0E0;
    border-radius: 6px;
    background-color: white;
    
  }
  input[type="checkbox"]:checked+label::after{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 30px;
    height:30px;
    background-image:url('../img/checked.svg');
    background-size:100%;
    background-repeat: no-repeat;
    background-color:#7540F0;
    border-radius: 6px; 
  }
}
</style>
