.aboutMatch-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  color: #ffffff;
}
.aboutMatch-header__block {
  margin: 128px auto 0;
  max-width: 1060px;
  h2 {
    text-align: left;
    font-family: "Inter-Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 58px;
  }
}
.aboutMatch-result {
  display: flex;
  margin: 50px auto 0;
  height: 107px;
  gap: 32.5px;

  .result__left {
    margin-right: 61px;
    p {
      margin-top: 63px;
      padding: 10px 15px;
      background: #ffffff;
      border-radius: 10px;
      color: #7d3800;
      width: 187px;
      text-align: left;
      span {
        vertical-align: 4px;
        margin-left: 10px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
  .result__middle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 77px;
    h3 {
      font-family: "Inter-Bold";
      font-style: normal;
      font-weight: 700;
      font-size: 64px;
      line-height: 77px;
    }
    h3:nth-child(1) {
      color: #bbdd00;
    }
    h3:nth-child(3) {
      color: #fa7000;
    }
    .middle__block {
      width: 249px;
      h3 {
        font-size: 24px;
      }
      p:nth-child(2) {
        font-size: 32px;
      }
      p:nth-child(3) {
        font-size: 16px;
      }
      h3,
      p {
        margin: 10px 0;
        color: #ffffff;
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        line-height: 29px;
      }
    }
  }
  .result__right {
    display: flex;
    height: 107px;
    .right__block {
      margin-top: 71px;
      margin-right: 30px;
      h4 {
        font-family: "Inter-Bold";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        margin: 0;
      }
      p {
        margin: 0;
        color: #e0d8ff;
      }
    }
  }
}
.aboutMatch-header__warning {
  margin-top: 23.5px;
  h3 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #eecd00;
  }
  img {
    margin-right: 13px;
    vertical-align: -4px;
  }
}
.aboutMatch-header__buttons {
  max-width: 354px;
  margin: 39px auto 0;
}
.aboutMatch__btn {
  padding: 13px 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin: 0;
  border: none;
  border-radius: 4px;
  img {
    vertical-align: middle;
    margin-right: 13px;
  }
}
.aboutMatch__btn:nth-child(2) {
  margin-left: 10px;
}
.aboutMatch-main {
  position: absolute;
  color: #ffffff;
  z-index: 20;
  right: 0;
  top: 507px;
  left: 0;
  .table1__head {
    text-align: left;
    border: 1px solid #301070;
    border-radius: 10px 10px 0 0;
    width: 1060px;
    margin: 0 auto;
    tr {
      position: relative;
      height: 69px;
      max-width: 429px;
      th {
        span {
          font-family: "Inter-Semi";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
        }
        span:nth-child(1) {
          margin-right: 20px;
          margin-left: 20px;
        }
        span:nth-child(2) {
          margin-right: 20px;
          font-family: "Inter-Semi";
          color: #e0d8ff;
        }
        span:nth-child(3) {
          padding: 5px 15px;
          background: rgba(250, 112, 0, 0.25);
          border-radius: 30px;
          color: #fa7000;
        }
      }
    }
  }
  .table2__head {
    text-align: left;
    border: 1px solid #301070;
    border-radius: 10px 10px 0 0;
    width: 1060px;
    margin: 50px auto 0;
    tr {
      position: relative;
      height: 69px;
      max-width: 429px;
      th {
        span {
          font-family: "Inter-Semi";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
        }
        span:nth-child(1) {
          margin-right: 20px;
          margin-left: 20px;
        }
        span:nth-child(2) {
          margin-right: 20px;
          font-family: "Inter-Semi";
          color: #e0d8ff;
        }
        span:nth-child(3) {
          padding: 5px 15px;
          background: rgba(187, 221, 0, 0.25);
          border-radius: 30px;
          color: #BBDD00;
        }
      }
    }
  }
  .aboutMatch-main__table1,
  .aboutMatch-main__table2 {
    text-align: left;
    border: 1px solid #301070;
    width: 1060px;
    border-radius: 0 0 10px 10px;
    tr {
      position: relative;
      height: 90px;
      th {
        height: 71px;
      }
      th:nth-child(8) {
        width: 100px;
      }
    }
    tbody tr:nth-child(1) {
      background-color: #301070;
    }
    tbody th:nth-child(1) {
      position: relative;
      margin: 0;
      margin-top: 27px;
      padding-left: 40px;
      width: 200px;
      img {
        margin-top: 5px;
        width: 48px;
        height: 27px;
      }
      p {
        position: absolute;
        top: 27px;
        left: 88px;
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-left: 3px;
      }
      p span:nth-child(1) {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #bbdd00;
      }
      p span:nth-child(2) {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #e0d8ff;
      }
    }
  }
}
.match__items,
.match__backpacks {
  display: flex;
  gap: 2px;
}
.match__backpacks {
  margin-top: 6px;
  img {
    margin-right: 6px;
  }
}
.match__container {
  width: 30px;
  height: 22px;
  background: #100025;
  opacity: 0.5;
  border-radius: 4px;
}
.match__backpack {
  width: 22px;
  height: 16px;
  background: #100025;
  opacity: 0.5;
  border-radius: 4px;
}
.match__buffs {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 9.33px;
  top: 15px;
  right: 40px;
}
.circle__item {
  width: 22px;
  height: 22px;
  background: #100025;
  opacity: 0.5;
  border-radius: 20px;
  margin-top: 5px;
}
.buff__item {
  margin-top: 8px;
}
.aboutMatch-main__table1, .aboutMatch-main__table2 {
  margin: 0 auto;
}

