

.listMatches__table {
  position: absolute;
  color: #ffffff;
  top: 0;
  right: 0;
  left: 0;
  h2 {
    color: #ebc1ff;
    width: 1060px;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: left;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    padding-top: 128px;
  }
  table {
    border: 1px solid #301070;
    width: 1060px;
    margin: 0 auto;
    border-radius: 10px;
  }
  thead {
    th {
      padding: 20px 0;
    }
    background-color: #301070;
  }
  tbody {
    tr {
      height: 90px;
      p {
        margin: 0;
      }
    }
  }
}
.idMatch {
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #bbdd00;
}
.even {
  background: rgba(16, 0, 37, 0.15);
}
.listMatches__button {
  margin-top:65.5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 15.5px 20px;
  background: #ffffff;
  border-radius: 4px;
}
