
.logo-background{
  height: 650px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../img/Image.png");
  mask-image: linear-gradient(180deg, #c4c4c4 0%, rgba(196, 196, 196, 0) 100%);
}
.logo__img {
  position: absolute;
  left: 0;
  right: 0;
  top: 200px;
  text-align: center;
  z-index: 2;
  img {
    margin-right: 30px;
  }
  svg {
    vertical-align: 5px;
  }
}
.btn-auth {
  position: absolute;
  right: 40px;
  top: 40px;
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  padding: 15.5px 20px 15.5px 20px;
  z-index: 3;
  img {
    margin-right: 12px;
    vertical-align: middle;
  }
}
.main-page {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
  top: 460px;
  z-index: 4;
  input {
    margin: 0 auto;
    width: 597.5px;
    max-width: 597.5px;
    padding: 22.5px 20px 19.5px 20px;
    background: rgba(16, 0, 37, 0.25);
    border: none;
    border-bottom: 2px solid white;
    border-radius: 4px 4px 1px 1px;
    color: #ffffff;
  }
  .main-page__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
    gap: 20px;
    button {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      align-items: center;
      padding: 15.5px 90px;
      width: 300px;
      border-radius: 4px;
    }
  }
}
.main-page__info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 110px;
  .info__elem {
    color: #e0d8ff;
    width: 370px;
    height: 305px;
    h2,
    p {
      margin-top: 50px;
    }
    p {
      max-width: 320px;
      margin: 50px auto;
      opacity: 0.75;
    }
  }
}
.footer {
  display: flex;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 70px;
  margin-top:118px;
  background: rgba(16, 0, 37, 0.25);
  color: #e0d8ff;
}
.footer__nav {
  nav {
    position: absolute;
    right: 80px;
    top: 25.5px;
    padding: 0;
    ul {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 40px;
      margin: 0;
      li {
        list-style-type: none;
        a {
          color: #e0d8ff;
          text-decoration: none;
        }
      }
    }
  }
}
.footer__logo {
  position: absolute;
  top: 25.5px;
  left: 80px;
  p{
    margin:0;
  }
}
