.modal-mask {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 20;
    top: 0;
    background-color: rgba(117, 64, 240, 0.5);
  }
  .modal {
    position:relative;
    margin: 150px auto;
    width: 536px;
    height: 542px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0px 32px 128px -48px rgba(16, 0, 37, 0.25);
    border-radius: 10px;
  }
  .modal-register{
    position:relative;
    margin: 150px auto;
    width: 774px;
    height: 466px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0px 32px 128px -48px rgba(16, 0, 37, 0.25);
    border-radius: 10px;
  }
  .modal-block {
    width: 376px;
    margin: 0 auto;
  }
  .modal-title {
    margin: 0 auto;
    padding-top: 44px;
    text-transform: uppercase;
    text-align: center;
    font-family: "Inter-Bold";
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    line-height: 58px;
    color: #7540f0;
    img{
      position:absolute;
      top:22px;
      right:22px;
    }
  }
  .modal-body {
    text-align: left;
    button {
      display: flex;
      align-items: center;
      margin: 36px auto 27.5px;
      border:none;
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #ffffff;
      padding: 15.5px 40px;
      align-items: center;
      background: #7540f0;
      border-radius: 4px;
    }
  }
  
  .modal-body__login,
  .modal-body__password {
    margin-top: 36px;
    font-family: "Inter-Bold";
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    h4 {
      margin: 0;
    }
    input {
      margin-top: 10px;
      width: 376px;
      padding: 5px 10px;
      border: none;
      border-bottom: 2px solid #e0e0e0;
    }
  }
  .modal-footer {
    p {
      margin-top:25px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #808080;
    }
    a{
      margin-left:20px;
      text-decoration: none;
      color: #000000;
    }
  }