@import url('start-page.scss');
@import url('style-modal.scss');
@import url('list-matches.scss');
@import url('about-match.scss');
@font-face {
	font-family: 'Inter-Bold'; 
    font-style: normal;
    font-weight: 700;
	src: url(/src/fonts/Inter-Bold.ttf); 
}
@font-face {
	font-family: 'Inter'; 
    font-style: normal;
    font-weight: 500;
	src: url(/src/fonts/Inter-Medium.ttf); 
}
@font-face {
	font-family: 'Inter-Semi'; 
    font-style: normal;
    font-weight: 600;
	src: url(/src/fonts/Inter-SemiBold.ttf); 
}
body{
    margin:0;
    background: #200050;
    background-repeat: no-repeat;
    background-size:100%;
}
h1, h2,h3,h4 p{
    margin:0;
}
.navigate{
    position: absolute;
    display:flex;
    z-index:20px;
    top:0;
    .navigate__menu{
      margin:20px;
      margin-bottom: 0;
    }
    .navigate__logo{
      margin-top:24px;
    }
  }