<template>
  <router-view/>
<!--   <button @click="search">Click</button>
  <button @click="searchPlayer">Поиск матчей</button> -->
</template>
<script>
  export default{
    data(){
      return{

      }
    },
    methods:{
      async search(){
        const api= await fetch(`https://api.opendota.com/api/matches/6636560679`,
        ).then((response) => {
          return response.json();
        })
        console.log(api)
      },
      async searchPlayer(){
        const api= await fetch(`https://api.opendota.com/api/playersByRank`,
        ).then((response) => {
          return response.json();
        })
        console.log(api)
      }
    }
  }
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
